.App {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.App-header {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 10vh;
}

.countdown {
  align-items: center;
  background: no-repeat center/cover url("../public/mikeandsonia.jpeg");
  color: #FFF;
  display: flex;
  flex-grow: 1;
  font-size: calc(10px + 10vmin);
  font-weight: bold;
  /*height: 85vh;*/
  justify-content: space-around;
  /*min-height: 400px;*/
  text-shadow: 1px 1px #000;
}

.twitch {
  text-align: left;
}

.twitch .twitch-video {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.twitch .twitch-video iframe {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

/* 2340 x 1080 pixels at 476ppi (iPhone 13 Mini) */
@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 3) {
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  .countdown {
    /*padding: 5vh 0;*/
  }
}

/* 2532 x 1170 pixels at 460ppi (iPhone 13/13 Pro) */
@media only screen
and (device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  .countdown {
    /*padding: 5vh 0;*/
  }
}

/* 2778 x 1284 pixels at 458ppi (iPhone 13 Pro Max) */
@media only screen
and (device-width: 428px)
and (device-height: 926px)
and (-webkit-device-pixel-ratio: 3) {
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  .countdown {
    /*padding: 5vh 0;*/
  }
}

/* 1792 x 828 pixels at 326ppi (iPhone 11) */
@media only screen
and (device-width: 414px)
and (device-height: 896px)
and (-webkit-device-pixel-ratio: 2) {
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  .countdown {
    /*padding: 5vh 0;*/
  }
}

/* 2436 x 1125 pixels at 458ppi (iPhone 11 Pro) */
@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 3) {
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  .countdown {
    /*padding: 5vh 0;*/
  }
}

/* 2688 x 1242 pixels at 458ppi (iPhone 11 Pro Max) */
@media only screen
and (device-width: 414px)
and (device-height: 896px)
and (-webkit-device-pixel-ratio: 3) {
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  .countdown {
    /*padding: 5vh 0;*/
  }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media only screen
  and (orientation: landscape) {

  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media only screen
  and (orientation: landscape) {

  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media only screen
  and (orientation: landscape) {

  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media only screen
  and (orientation: landscape) {

  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media only screen
  and (orientation: landscape) {

  }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2) {
  /* Portrait */
  @media screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media screen
  and (orientation: landscape) {

  }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
  /* Portrait */
  @media screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media screen
  and (orientation: landscape) {

  }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 4) {
  /* Portrait */
  @media screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media screen
  and (orientation: landscape) {

  }
}

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
  /* Portrait */
  @media screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media screen
  and (orientation: landscape) {

  }
}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 4) {
  /* Portrait */
  @media screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media screen
  and (orientation: landscape) {

  }
}

/* ----------- Nexus 4 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 384px)
and (device-height: 592px)
and (-webkit-device-pixel-ratio: 2) {
  /* Portrait */
  @media screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media screen
  and (orientation: landscape) {

  }
}

/* ----------- Nexus 5 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 592px)
and (-webkit-device-pixel-ratio: 3) {
  /* Portrait */
  @media screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media screen
  and (orientation: landscape) {

  }
}

/* ----------- Nexus 6 and 6P ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 592px)
and (-webkit-device-pixel-ratio: 4) {
  /* Portrait */
  @media screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media screen
  and (orientation: landscape) {

  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media only screen
  and (orientation: landscape) {

  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media only screen
  and (orientation: landscape) {

  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 834px)
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 834px)
and (max-device-width: 834px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .countdown {
    flex-direction: column;
    justify-content: start;
  }

  .countdown > div {
    margin-top: calc(10px + 2vmin);
  }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1112px)
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .countdown {
    flex-direction: column;
    justify-content: start;
  }

  .countdown > div {
    margin-top: calc(10px + 2vmin);
  }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media
(min-device-width: 800px)
and (max-device-width: 1280px) {

}

/* Portrait */
@media
(max-device-width: 800px)
and (orientation: portrait) {
  .countdown {
    flex-direction: column;
    justify-content: start;
  }

  .countdown > div {
    margin-top: calc(10px + 2vmin);
  }
}

/* Landscape */
@media
(max-device-width: 1280px)
and (orientation: landscape) {

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media
(min-device-width: 800px)
and (max-device-width: 1280px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media
(max-device-width: 800px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .countdown {
    flex-direction: column;
    justify-content: start;
  }

  .countdown > div {
    margin-top: calc(10px + 2vmin);
  }
}

/* Landscape */
@media
(max-device-width: 1280px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 601px)
and (device-height: 906px)
and (-webkit-min-device-pixel-ratio: 1.331)
and (-webkit-max-device-pixel-ratio: 1.332) {
  /* Portrait */
  @media screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media screen
  and (orientation: landscape) {

  }
}

/* ----------- Nexus 9 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 1536px)
and (device-height: 2048px)
and (-webkit-min-device-pixel-ratio: 1.331)
and (-webkit-max-device-pixel-ratio: 1.332) {
  /* Portrait */
  @media screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media screen
  and (orientation: landscape) {

  }
}

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 800px)
and (max-device-width: 1280px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media only screen
  and (orientation: landscape) {

  }
}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    .countdown {
      flex-direction: column;
      justify-content: start;
    }

    .countdown > div {
      margin-top: calc(10px + 2vmin);
    }
  }

  /* Landscape */
  @media only screen
  and (orientation: landscape) {

  }
}
