* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Great Vibes', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body > * {
  flex-shrink: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

